<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.yunsi.shop.servlet.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShopServlet</display-name>
    <servlet-name>ShopServlet</servlet-name>
    <servlet-class>com.yunsi.shop.servlet.ShopServlet</servlet-class>
    <init-param>
      <param-name>filepath</param-name>
      <param-value>/WEB-INF/files/goods.txt</param-value>
    </init-param>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShopServlet</servlet-name>
    <url-pattern>/ShopServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuyProduct</display-name>
    <servlet-name>BuyProduct</servlet-name>
    <servlet-class>com.yunsi.shop.servlet.BuyProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuyProduct</servlet-name>
    <url-pattern>/BuyProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CartServlet</display-name>
    <servlet-name>CartServlet</servlet-name>
    <servlet-class>com.yunsi.shop.servlet.CartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CartServlet</servlet-name>
    <url-pattern>/CartServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleProduct</display-name>
    <servlet-name>DeleProduct</servlet-name>
    <servlet-class>com.yunsi.shop.servlet.DeleProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleProduct</servlet-name>
    <url-pattern>/DeleProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckOutServlet</display-name>
    <servlet-name>CheckOutServlet</servlet-name>
    <servlet-class>com.yunsi.shop.servlet.CheckOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckOutServlet</servlet-name>
    <url-pattern>/CheckOut</url-pattern>
  </servlet-mapping>
</web-app>