a{
	text-decoration: none;
	color: cornflowerblue;
}

/*登录界面 start*/
#loginbox{
	margin: auto;
	position: relative;
	height: 380px;
	width: 500px;
	background-color: #b2bec3;
	margin: 10% auto;
	border-radius: 10px;
	font-size: 20px;
}
#loginbox2{
	width: 500px;
	margin-top: 1%;
	position: fixed;
}
#loginform{
	margin-left:20%;
}
#logintable tr{
	height:35px;
	line-height: 60px;
}
#logintable td{
	text-align: center;
}
#logintable caption{
	font-size: 35px;
	height:100px;
	line-height: 100px;
}
#logintable input{
	height: 28px;
	border: none;
	padding-left: 5px;
}
#loginbox button {
	height: 35px;
	width: 130px;
	border:none;
}
/*登录界面end*/

#shoptable,#carttable{
	border-collapse: collapse;
	font-size: 15bpx;
	line-height: 30px;
}

#shoptable td,#carttable td{
    border: #222f3e 2px  solid;
    width: 100px;
}

#carttable  button:hover{
    border: 1px #ffffff solid;
}
#carttable  button[name = "add"]{
	height: 17px;
    width: 17px;
    border: 0px;
    margin-top: 3px;
    background: url("../image/add.png");
}
#carttable  button[name = "dele"]{
	height: 17px;
    width: 17px;
    border: 0px;
    margin-top: 3px;
    background: url("../image/dele.png");
}
#carttable  button[name = "reduce"]{
	height: 17px;
    width: 17px;
    border: 0px;
    margin-top: 3px;
    background: url("../image/reduce.png");
}

